@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	font-family: 'muli', sans-serif;
}

*:focus{
	outline: none;
}
.main{
	display: grid;
	min-height: 100%;
	grid-template-columns: 1fr 3fr 3fr 1fr;
	grid-template-rows: 170px 145px minmax(100px, auto) 60px minmax(200px, auto) 70px;
	grid-template-areas: 
		"title title title title"
		". switch nav ."
		". search search ."
		". parse parse ."
		". results results ."
		"footer footer footer footer";
}

.title{
	grid-area: title;
	display: flex;	
}

.title a img{
	padding: 60px 0px 0px 80px;
	position: relative;
}

.title a::after{
	content: '';
	display: block;
	height: 6px;
	width: 110px;
	position: relative;
	background: #EF9D87;
	bottom: -35px;
	right: -80px;
}

.titleText{
	display: flex;
	flex-direction: column;
	background: none;
	padding: 70px 30px;
}

.titleText h1{
	font-family: 'Josefin Sans', sans-serif;
}

.border{
	grid-row: 1/2;
	grid-column: 2/4;
	border-bottom: 2px solid #999999;
}

.nav{
	grid-area: nav;
	display: flex;
	float: left;
	justify-content: flex-end;
}

.nav a{
	margin: 20px 20px 0px 0px;
}

.switch{
	grid-area: switch;
	display: flex;
	float: left;
	justify-content: flex-start;
}

.switch a{
	margin: 20px 20px 0px 0px;
}

.search{
	grid-area: search;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

input[type=text]{
	flex: 1;
    height: 38px; 
	max-width: 700px;
	min-width: 125px;
    font-size: 18px;
    font-weight: lighter;
	color: #4c4f53;
    padding-top: 3px;
	border: none;
    border-bottom: 2px solid #666666;
}

::placeholder{
	color: #A9A9A9;
}

select{
	height: 38px;
    font-size: 18px;
    font-weight: lighter;
	max-width: 150px;
	color: #4c4f53;
    padding-top: 3px;
	border: none;
    border-bottom: 2px solid #666666;
	background-color: #FFF;
	margin: 4.5px 5px 0px 5px;
}

input[type=button]{
    border: none;
    height: 43px;
    width: 115px;
    background: #4c4f53;
    font-size: 18px;
    font-weight: lighter;
    color: #FFF;
	transition: all 0.2s ease;
	margin-left: 10px;
	cursor: pointer;
}

input[type=button]:hover{
	background: #ef9d87;
}

.plus_cont {
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.plus_cont div {
	height: 20px;
	width: 20px;
}

.plus_cont:hover .plus {
	background: #b0e0e6;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plus {
	float: left;
	shape-outside: polygon(7.5px 0, 12.5px 0, 12.5px 7.5px, 20px 7.5px, 20px 12.5px, 12.5px 12.5px, 12.5px 20px, 7.5px 20px, 7.5px 12.5px, 0 12.5px, 0 7.5px, 7.5px 7.5px);
	clip-path: polygon(7.5px 0, 12.5px 0, 12.5px 7.5px, 20px 7.5px, 20px 12.5px, 12.5px 12.5px, 12.5px 20px, 7.5px 20px, 7.5px 12.5px, 0 12.5px, 0 7.5px, 7.5px 7.5px);
	height: 20px;
	width: 20px;
	background: #4c4f53;
}

.minus_cont {
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.minus_cont div {
	height: 20px;
	width: 20px;
}

.minus_cont:hover .minus {
	background: #b0e0e6;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.minus {
	float: left;
	shape-outside: polygon(0 7.5px, 20px 7.5px, 20px 12.5px, 0 12.5px);
	clip-path: polygon(0 7.5px, 20px 7.5px, 20px 12.5px, 0 12.5px);
	height: 20px;
	width: 20px;
	background: #4c4f53;
}

.parse{
	grid-area: parse;
	display: none;
	justify-content: left;
	flex-wrap: wrap;
}

.parseTag {
  	width: 200px;
  	height: 45px;
  	position: relative;
	display: flex;
  	color: #FFF;
	font-size: 18px;
	align-items: center;
	justify-content: center;
 	background: #b0e0e6;
	font-weight: bold;
}

.results{
	grid-area: results;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.result{
	height: auto;
	width: auto;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	background: #efefef;
	box-shadow: 2px 2px 6px 1px #ccc;
	font-size: 19px;
	color: #2f3235;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	overflow: hidden;
}

.entryHead{
	font-weight: bold;
	font-size: 24px;
	color: #ef9d87;
	padding-right: 15px;
}

.entryCyr{
	font-family: 'Doulos SIL', serif;
	padding-right: 10px;
	font-size: 24px;
	color:#4c4f53;
}

.entryipa{
	font-family: 'Doulos SIL', serif;
	padding-right: 10px;
}

.entryDef{
	font-style: italic;
}

.entryOther{
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.yupik_ex{
	margin-right: 20px;
	color: #ef9d87;
}

.english_ex{
	margin-bottom: 5px;
	font-style: italic;
}
.footer{
	grid-area: footer;
	display: flex;
	padding-top: 40px;
	justify-content: center;
	font-size: 13px
}

a{
	text-decoration: none;
	background: none;
}

.entry a:hover{
	text-decoration: underline;
	text-decoration-color: #ef9d87;
}

h1, h2, h3, h4, i{
	font-family: 'muli', sans-serif;
	background: none;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.05s ease 0.1s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    color: #4c4f53;
    font-size: 15px;
	font-weight: bold;
    position: absolute;
    bottom: 3.75em;
    left: 0%;
    white-space: nowrap;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}